<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="multiViewBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <multiViewBox.Properties.Settings>
            <setting name="defaultRawDataPath" serializeAs="String">
                <value>D:\wuduan\Engineering\MRI_Spectrometer\EDA\Matlab\mri_data\20171020</value>
            </setting>
            <setting name="defaultDICOMFolder" serializeAs="String">
                <value>D:\SlimscopeClientFolder\DicomFolder</value>
            </setting>
        </multiViewBox.Properties.Settings>
    </userSettings>
</configuration>
